<!-- Todo list that is complete in a single file using vue.js and runs only in the local environment -->
<!-- This is a single file application -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Todo List</title>
    <link rel="stylesheet" href="https://unpkg.com/bulma/css/bulma.min.css">
</head>
<body>
    <div id="app">
        <section class="section">
            <div class="container">
                <h1 class="title">Todo List</h1>
                <div class="box">
                    <form @submit.prevent="addTodo">
                        <div class="field">
                            <label class="label">Add Todo</label>
                            <div class="control">
                                <input class="input" type="text" placeholder="Add Todo" v-model="newTodo">
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <button class="button is-link">Add</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="box">
                    <ul>
                        <li v-for="todo in todos" :key="todo.id">
                            <input type="checkbox" v-model="todo.completed">
                            <span v-bind:class="{ 'has-text-grey-light': todo.completed }">{{ todo.title }}</span>
                            <button class="button is-small is-danger is-pulled-right" @click="removeTodo(todo)">Delete</button>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- Vue.js -->
    <!-- Load cdn so that you can use vue.js in your local environment-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
        new Vue({
            el: '#app',
            data: {
                newTodo: '',
                todos: []
            },
            methods: {
                addTodo() {
                    const value = this.newTodo && this.newTodo.trim()
                    if (!value) {
                        return
                    }
                    this.todos.push({
                        id: this.todos.length + 1,
                        title: value,
                        completed: false
                    })
                    this.newTodo = ''
                },
                removeTodo(todo) {
                    this.todos.splice(this.todos.indexOf(todo), 1)
                }
            }
        })
    </script>
</body>
</html>